<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="input.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <style>
        .container{
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;   
            flex-direction: column;      
        }
    </style>
</head>
<body>
    <div class="container">


       <div class="input-container">
        <label for="username">Username *</label>
        <input type="text" name="username" placeholder="enter user name" id="username">
        </div>
        
        <div class="input-container">
        <label for="password">password *</label>
        <input type="password" name="password" id="password">
        </div>

        <div class="input-container">
            <label class="label-error" for="password">password *</label>
            <input class="input-error" type="password" name="password" id="password">
            </div>

       </div>
    </div>
</body>
</html>