<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="button.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;
            height: 10rem;           
        }
    </style>
</head>
<body>
    <div class="container">
        <button>
            submit
        </button>

        <button class="btn-link">
            submit
        </button>

        <button class="btn-floating-action">
            <img src="../images_res/plus_icon.png">
        </button>

        <button class="btn-icon">
            <img src="../images_res/home_icon.png">
        </button>


    </div>
</body>
</html>