.toast{
    position: fixed;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    z-index: 999;
    left: 70%;
    bottom: 1rem;
    font-size: 1rem;
}