<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="lists.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lists</title>
   <style>
        .container{
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        height: 50%;   
        width: 50%;  
        flex-direction: column;      
    }
   </style>
</head>
<body>

    <div class="container">
   
       <div class="lists-container">
        <ul class="list-group list-group-normal">
            <li class="list-item list-item-normal">item 01 </li>
            <li class="list-item list-item-normal">item 01</li>
            <li class="list-item list-item-normal">item 01</li>
            <li class="list-item list-item-normal">item 01</li>
            <li class="list-item list-item-normal">item 01</li>
            
        </ul>
        
       </div>
       <div>
           <ul class="list">
               <h2 style="text-decoration: underline;text-decoration-color: gray;">list</h2>
               <li>item01</li>
               <li>item02</li>
           </ul>
       </div>
       

    </div>

</body>
</html>