<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="card.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;
            height: 10rem;           
        }
    </style>
</head>
<body>
    
   <div class="container">

       <div class="card">
           <div class="title">
               this is title
           </div>
           <div class="content">
              this is card with only text , text only card 
           </div>
       </div>

       <div class="card card-with-badge">
        <div class="title">
            this is title
        </div>
        <div class="content">
           this is card with only text , text only card 
        </div>
        <div class="badge-card">9</div>
    </div>


    <div class="card">
        <div class="title">
            this is title<span class="card-close">X</span>
        </div>
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>


    <div class="card card-with-image">
        <div class="card-image">
        <img src="../images_res/image01.png">
         </div>
        <div class="title">
            this is title d
        </div>
    
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>


    <div class="card card-shadow card-with-image">
        <div class="card-image">
        <img src="../images_res/image01.png">
    
        <div class="title">
            this is title
        </div>
    </div>
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>


    <div class="horizantal card card-with-image" style="width: 27rem;height:14rem;">
        <div class="card-image" style="width: 70%;">
           <img src="../images_res/image01.png">
        </div>
        <div>
        <div class="title">
            this is title
        </div>
    
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>
    </div>


    <div class="vertical card card-with-image">
        <div class="card-image">
           <img src="../images_res/image01.png">
        </div>
        <div>
        <div class="title">
            this is title
        </div>
    
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>
    </div>
    <div class="card card-with-image" style="width: 12rem;">
        <div class="card-image" style="height: 18rem;">
           <img src="../images_res/image01.png">
        </div>
        <div>
        <div class="title">
            this is title
        </div>
    
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>
    </div>



    <div class="card card-with-image">
        <div class="card-image card-image-overlay">
        <img src="../images_res/image01.png">
          <div class="title title-overlay">
            this is title
           </div>
         </div>
        
        <div class="content">
           this is card with only text , text only card 
        </div>
    </div>








   </div>

</body>
</html>