<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="avatar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <style>
        .container{
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
        }
    </style>
</head>
<body>
    <div class="container">
    <img class="avatar-small avatar-round" src="../images_res/image01.png">
    <img class="avatar-medium avatar-round" src="../images_res/image01.png">
    <img class="avatar-large avatar-round" src="../images_res/image01.png">
    <img class="avatar-small" src="../images_res/image01.png">
    <img class="avatar-medium" src="../images_res/image01.png">
    <img class="avatar-large" src="../images_res/image01.png">
    </div>

</body>
</html>