.avatar-small{
    
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    
}
.avatar-large{
    border: none;
    height: 6rem;
    width: 6rem;
    outline: none;
}
.avatar-medium{
    height: 3em;
    width: 3rem;
    border: none;
    outline: none;
}

.avatar-round{
    border-radius: 50%;
}   


