<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="image.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <style>
        .container{
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;
            height: 50;   
            width: 50%;      
        }
    </style>
</head>
<body>

    <div class="container">
        <img class="img-responsive" src="../images_res/image01.png">
        <div class="img-round-container">
            <img src="../images_res/image01.png">
        </div>
    </div>
    
</body>
</html>